.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);

}

.popup_inner {
  height: 30vh;
  width: 30vw;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  color: #004cff;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}

.title,
.description {
  padding: 10px 0;
}

.btn-ok {
  border: 2px solid black;
  color: white;
  background-color: #004cff;
  border-radius: 8px;
  width: 200px;
  padding: 3px 0;
  margin-top: 10px;
  font-size: 35px;
  font-weight: bold;
}

.closePopup {
  position: absolute;
  top: -10px;
  right: -10px;
  border: 2px solid black;
  background-color: blue;
  border-radius: 8px;
  padding: 2px 5px;
  color: white;
  transition: all 200ms;
  font-size: 30px;
  cursor: pointer;
}