.bg {
    background-color: #004cff;
    min-height: 100vh;
    width: 100%;
    color: white;
}

.center {
    text-align: center;
    margin-top: 30vh;
}

.btn-profile {
    font-size: 30px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    color: #004cff;
    width: 280px;
    padding: 10px 0;
    margin-left: 20vw;
    cursor: pointer;
    font-weight: bold
}

.btn-do {
    font-size: 30px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    color: #004cff;
    width: 280px;
    padding: 10px 0;
    margin-left: 20vw;
    cursor: pointer;
    font-weight: bold

}

.marginTop {
    margin-top: 250px;
}